QLabel#title {
    font-size:20px;
}
QLabel#heading {
    font-size: 17px;
}
QLabel#data_label {
    font-size: 12px;
}
QLabel#X_label {
    font-size: 20px;
}
QLabel#axis_label {
    font-size: 30px
}

QPushButton#base_button {

}
QPushButton#axis_button {
    background: none;
    border: none;
    font-size: 30px;
}
QPushButton#axis_button:hover {
    font-size: 40px;
}